<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mobile Chef</title>
    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
<link rel="stylesheet" href="css/styles.css" />

  </head>
  <body>
    {{! Nav Bar }}
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Mobile Chef</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>

            {{! drop list option for resturants }}
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"

                aria-expanded="true"

              >
                Resturants
              </a>
              <ul class="dropdown-menu">
                <li><a
                    class="dropdown-item"
                    id="mcdonald"
                    href="#mcdonald"
                  >McDonald</a></li>
                <li><a
                    class="dropdown-item"
                    id="
                wendy"
                    href="#wendy"
                  >Wendy</a></li>
                <li><a
                    class="dropdown-item"
                    id="burgerking"
                    href="#burgerking"
                  >Burger king</a></li>
              </ul>
            </li>
            <li class="nav-item">

              <a class="nav-link" id="cart" href="#cart">Cart</a>
            </li>
            {{#if login}}
              <li class="nav-item">
                <a class="nav-link" id="logout" href="#home">Logout</a>
              </li>
            {{else}}
              <li class="nav-item">
                <a class="nav-link" id="login" href="#login">Login/register</a>

              </li>
            {{/if}}
          </ul>
          {{! Search option on top of Nav bar }}
          <form class="d-flex" role="search">
            <input
              class="form-control me-2"
              type="search"

              placeholder="Search"
              aria-label="Search"
              id="searchMain"
            />
            <button
              class="btn btn-outline-success"
              type="submit"

            >Search</button>
          </form>
        </div>
      </div>
    </nav>

    {{! Search option down below }}
    <div id="searchContainer">
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search Location option coming soon"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="Find Food">Search</button>
      </form>
      <img
        src="image/pizza.jpeg"
        alt="Pizza"
        width="950"
        height="500"
        id="pizza"
      />
      <p> <a href = "login"> or sign In to your account</p></a>

            {{{body}}}
    </div>
    <footer>
      <div id="contact">
        <p><a href="mobilechef@gmail.com"> Email: mobilechef@gmail.com</p></a>
        <p> Mobile: 1800-mobile-Chef</p>
        <p>© 2023 Mobile Chef</p>
      </div>
    </footer>
    <!-- If the user is logged in, load the JS script for when they logout -->
    {{#if login}}
      {{! Linking for js }}
      <script src="./public/js/cleave.js"></script>
      <script src="./public/js/cart.js"></script>
      <script src="./public/js/login.js"></script>
      <script src="./public/js/logout.js"></script>

    {{/if}}
  </body>
</html>