<main>
  <div class="cart">
    <image src="./public/images/{{filename}}"></image>
    <p> {{name}}</p>
    <p> {{price}}</p>
    <p> {{orderTotal}}</p>

    {{!-- Checkout --}}
    <div>
      

    </div>
  </div>

</main>