<main>
  {{#if login}}
  <div class="cart">
    <image src="./public/images/{{filename}}"></image>
    <p> {{name}}</p>
    <p> {{price}}</p>
    <p> {{orderTotal}}</p>

    {{! Checkout payment form }}
    <div>
      <form>
        <div class="container">
          <input class="input-text" placeholder="Enter full name" />
          <input class="input-text" placeholder="Enter address" />
          <input
            class="input-credit-card"
            placeholder="Enter credit card number"
          />
          <input class="input-phone" placeholder="Enter US phone number" />
          <input class="input-date" placeholder="Enter date: DD/MM/YYYY" />
        </div>
        <button type="submit" id = "paymentbtn" class="btn btn-primary">Submit Payment</button>
      </form>
    </div>
  </div>
</main>
{{/if}}