<main>
  <div class="imageHeader">
    <h1> Choose from our favorite local resturants</h1>
    <p> More resturants coming near you</p>
    <div id="mcdonald">
      <button id="mcdonaldBtn">
        <img
          src="./public/image/mcdonald.png"
          alt="McDonald"
          href="#mcdonald"
          width="350"
          height="350"
        />
      </button>
    </div>
    <div id="Wendy">
      <button>
        <img
          src="./public/image/wendy.png"
          alt="Wendy"
          href="#wendy"
          width="350"
          height="350"
        />
      </button>
    </div>
    <div id="burgerking">
      <button>
        <img
          src="./public/image/burgerking.png"
          alt="Burger King"
          href="#burgerking"
          width="350"
          height="350"
        />
      </button>
    </div>
  </div>
</main>