<main href="#mcdonald" class="mcdonaldFood">
  <div>
    <h3 href="#feature"> Chicken Nugget Happy Meal</h3>
    <div href="#mcdonald" class="card" style="width: 18rem;">
      <img
        src="image/mdHappyChicken.jpeg"
        width="100"
        height="100"
        alt="Happy Meal Chicken Nugget"
      />
      <div class="card-body">
        <h5 class="card-title"> chicken nugget happy meal</h5>
        <p class="card-text">Happy meal with 6 chicken nuggets</p>
      </div>
      <div class="card-body">
        <div id = "price1">7.45</div>
       <button id ="addbutton1">Add to Cart</button>
      </div>
    </div>


  {{! most popular }}
  <div>
    <h3 href="#popular"> 10 pc Mcnugget Meal </h3>
    <div href="#mcdonald" class="card" style="width: 18rem;">
      <img
        src="image/nuggetmeal.jpeg"
        width="100"
        height="100"
        alt="20 pc Chicken nugget"
      />
      <div class="card-body">
        <h5 class="card-title"> 10 piece meal</h5>
        <p class="card-text">10 pieces of dried chicken nuggets comes with choice of drink and a side of fries, also choice of dipping sauce</p>
      </div>
      <div class="card-body">
        <div id = "price2">11.23</div>
       <button id ="addbutton2"> Add to Cart</button>
      </div>
    </div>


  <div>
    <h3 href="#combo"> Quarter Pounder Meal </h3>
    <div href="#mcdonald" class="card" style="width: 18rem;">
      <img
        src="image/mcdonaldMain.jpeg"
        width="100"
        height="100"
        alt="Happy Meal Chicken Nugget"
      />
      <div class="card-body">
        <h5 class="card-title"> Quarter Pounder Meal</h5>
        <p class="card-text">A quarter pounder with cheese comes with choice of drink and a side of fries</p>
        
      </div>
      <div class="card-body">
        <div id= "price3">12.12</div>
        <button id ="addbutton3"> Add to Cart</button>
      </div>
    </div> 
    <script src="js/main.js"></script>
    
</main>
