   {{! Search option down below }}
    <div id="searchContainer">
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search Location"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="Find Food">Search option coming soon</button>
      </form>
      <img
        src="image/pizza.jpeg"
        alt="Pizza"
        width="950"
        height="500"
      />
      <p> <a href = "login"> or sign In to your account</p></a>